.post-link {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits text color from parent */
}

.post-container {
    border: 1px solid #ddd; /* Light grey border */
    width: 30em; 
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px; /* Rounded corners for the box */
    background-color: rgb(250, 248, 237);
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

.post-container:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow on hover */
}

.post-title {
    font-size: 1.5em; /* Larger text for the title */
    margin-bottom: 0.5em;
}

.post-comments,
.post-upvotes,
.post-date {
    font-size: 0.9em; /* Smaller text for details */
    color: #555; /* Darker grey for the text */
    margin-left: 10px;
}


.posted {
    display: flex;
    justify-content: flex-start;
}

.comments-and-upvotes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}